<% for (obj of cartListRender) { %>
    <div class="miniCard">
        <img src="<%= obj.thumbnail %>" class="imgMiniCard">
        <h3><%= obj.title %></h3>
        <h3>Price: <%= obj.price %> €</h3>
        <h3>Qty: <%= obj.qty %></h3>
        <button class="cartAddButton">Remove <span><%= obj.id %></span></button>
    </div>
<% } %>