<% for (obj of productList ) { %>
    <div class="miniCard">
        <img src="<%= obj.thumbnail %>" class="imgMiniCard">
        <h3><%= obj.title %></h3>
        <h3>Price: <%= obj.price %> €</h3>
        <h3>Product ID: <%= obj.id %> </h3>
        <h3>Category: <%= obj.category %> </h3>
    </div>
<% } %>